In [2]:
import pandas as pd

# Load the dataset with correct separator
df = pd.read_csv('../data/AirQuality.csv', sep=';')

# Combine Date and Time into a proper datetime column
df['Datetime'] = pd.to_datetime(df['Date'] + ' ' + df['Time'].str.replace('.', ':', regex=False), dayfirst=True)

# Set Datetime as index for time-based analysis
df.set_index('Datetime', inplace=True)

# Drop original Date and Time columns
df.drop(['Date', 'Time'], axis=1, inplace=True)

# Replace -200 with NaN
df.replace(-200, pd.NA, inplace=True)

# Only drop rows missing key air quality fields
df_cleaned = df.dropna(subset=['CO(GT)', 'NOx(GT)', 'C6H6(GT)'])

print("Data shape after cleaning:", df_cleaned.shape)
df_cleaned.head()

Data shape after cleaning: (7718, 15)

,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH,Unnamed: 15,Unnamed: 16
Datetime,,,,,,,,,,,,,,,
2004-03-10 18:00:00,"2,6",1360.0,150.0,"11,9",1046.0,166.0,1056.0,113.0,1692.0,1268.0,"13,6","48,9","0,7578",NaN,NaN
2004-03-10 19:00:00,2,1292.0,112.0,"9,4",955.0,103.0,1174.0,92.0,1559.0,972.0,"13,3","47,7","0,7255",NaN,NaN
2004-03-10 20:00:00,"2,2",1402.0,88.0,"9,0",939.0,131.0,1140.0,114.0,1555.0,1074.0,"11,9","54,0","0,7502",NaN,NaN
2004-03-10 21:00:00,"2,2",1376.0,80.0,"9,2",948.0,172.0,1092.0,122.0,1584.0,1203.0,"11,0","60,0","0,7867",NaN,NaN
2004-03-10 22:00:00,"1,6",1272.0,51.0,"6,5",836.0,131.0,1205.0,116.0,1490.0,1110.0,"11,2","59,6","0,7888",NaN,NaN

In [11]:
import requests

API_KEY = "08cc967af314d1c3cc5c6f66c23c73b1"
LAT, LON = 48.2082, 16.3738  # Vienna

url = f"http://api.openweathermap.org/data/2.5/air_pollution?lat={LAT}&lon={LON}&appid={API_KEY}"
response = requests.get(url)

print(response.json())

{'coord': {'lon': 16.3721, 'lat': 48.2085}, 'list': [{'main': {'aqi': 3}, 'components': {'co': 240.33, 'no': 0, 'no2': 1.89, 'o3': 107.29, 'so2': 0.71, 'pm2_5': 5.79, 'pm10': 6.28, 'nh3': 4.62}, 'dt': 1743880243}]}

In [12]:
import requests
import json
from datetime import datetime

API_KEY = "08cc967af314d1c3cc5c6f66c23c73b1"
LAT, LON = 48.2082, 16.3738

url = f"https://api.openweathermap.org/data/2.5/air_pollution?lat={LAT}&lon={LON}&appid={API_KEY}"
response = requests.get(url)

# Convert UNIX timestamp to readable format
data = response.json()
timestamp = data["list"][0]["dt"]
data["list"][0]["timestamp_readable"] = datetime.utcfromtimestamp(timestamp).strftime('%Y-%m-%d %H:%M:%S')

# Save to file
with open("../data/live_air_quality.json", "w") as f:
    json.dump(data, f, indent=2)

print("âœ… Live data saved to /data/live_air_quality.json")

âœ… Live data saved to /data/live_air_quality.json

In [7]:
from pymongo import MongoClient

# Replace with your actual connection string
uri = "mongodb+srv://air_user:airuserpassword@airqualitycluster.uzyb6qb.mongodb.net/?retryWrites=true&w=majority&appName=AirQualityCluster"
client = MongoClient(uri)

# Connect to the database and collection
db = client['air_quality_db']
collection = db['historical_data']

# Prepare DataFrame for MongoDB
df_to_upload = df_cleaned.reset_index()  # Include Datetime as a column

# Convert DataFrame to list of dictionaries
data_dict = df_to_upload.to_dict("records")

# Insert into MongoDB
collection.insert_many(data_dict)

print("âœ… Data successfully uploaded to MongoDB!")

âœ… Data successfully uploaded to MongoDB!

In [9]:
import json
from pymongo import MongoClient

# Load JSON
with open('../data/live_air_quality.json') as f:
    live_data = json.load(f)

# Connect to MongoDB
client = MongoClient("mongodb+srv://air_user:airuserpassword@airqualitycluster.uzyb6qb.mongodb.net/?retryWrites=true&w=majority&appName=AirQualityCluster")
db = client['air_quality_db']
collection = db['live_data']  # New collection

# Insert
collection.insert_one(live_data)
print("âœ… Live data inserted into MongoDB")

âœ… Live data inserted into MongoDB

In [ ]:
import time
import requests
from pymongo import MongoClient
from datetime import datetime, timezone

# CONFIG
API_KEY = "08cc967af314d1c3cc5c6f66c23c73b1"
LAT, LON = 48.2082, 16.3738
MONGO_URI = "mongodb+srv://air_user:airuserpassword@airqualitycluster.uzyb6qb.mongodb.net/?retryWrites=true&w=majority&appName=AirQualityCluster"
INTERVAL = 3600  # for testing: 60 seconds instead of 1 hour

# Connect to MongoDB
client = MongoClient(MONGO_URI)
db = client["air_quality_db"]
collection = db["live_data"]

print("ðŸ“¡ Starting live air quality collection loop...")

# Run the loop only a few times for notebook testing
for i in range(24):  # <-- You can set this to 24 for 24 samples
    try:
        url = f"https://api.openweathermap.org/data/2.5/air_pollution?lat={LAT}&lon={LON}&appid={API_KEY}"
        response = requests.get(url)
        data = response.json()

        record = data["list"][0]
        record["coord"] = data["coord"]
        record["timestamp_unix"] = record["dt"]
        record["timestamp"] = datetime.fromtimestamp(record["dt"], tz=timezone.utc).strftime("%Y-%m-%d %H:%M:%S")

        if collection.find_one({"timestamp_unix": record["timestamp_unix"]}):
            print(f"âš ï¸  Entry for {record['timestamp']} already exists. Skipping.")
        else:
            collection.insert_one(record)
            print(f"âœ… Inserted data at {record['timestamp']}")

    except Exception as e:
        print("âŒ Error:", e)

    time.sleep(INTERVAL)

ðŸ“¡ Starting live air quality collection loop...
âœ… Inserted data at 2025-04-05 20:19:16